name: CI

on:
  release:
    types: [ created ]
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
    inputs:
      version:
        description: 'Version number to build'
        required: true
        default: '0.91.0'
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: false

jobs:
  is-latest:
    name: "Is Latest"
    runs-on: ubuntu-latest
    outputs:
      nw: ${{ steps.set_nw.outputs.nw }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
      - name: Check if latest
        working-directory: .github/workflows
        run: bash ./is_latest.sh ${{ github.event_name }}
        env:
          GITHUB_EVENT_NAME: ${{ github.event_name }}
      - name: Write NW version to env and set output
        id: set_nw
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "nw=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
          else
            NW_VERSION=$(curl -s https://nwjs.io/versions.json | jq -r '.latest' | sed 's/v//')
            echo "nw=$NW_VERSION" >> $GITHUB_OUTPUT
          fi


  build-win:
    needs: is-latest
    name: "Build for Windows"
    runs-on: windows-latest
    defaults:
      run:
        shell: powershell
    steps:
      - name: Setup Node
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 20
      - name: Checkout code
        uses: actions/checkout@v4.2.2
      - name: Debug NW version
        run: |
          echo "NW Version: ${{ needs.is-latest.outputs.nw }}"
      - name: Copy to C drive
        run: cp D:\a C:\ -Recurse
      - name: Support long paths
        run: git config --system core.longpaths true
      - name: npm install, build and test
        working-directory: "C:/a/${{ github.event.repository.name }}/${{ github.event.repository.name }}"
        run: |
          pwd
          npm install
          node build --arch x64 --version ${{ needs.is-latest.outputs.nw }}
          node build --arch ia32 --version ${{ needs.is-latest.outputs.nw }}
      - name: Upload the artifacts
        uses: actions/upload-artifact@v4.6.2
        with:
          name: win
          path: 'c:/a/**/build/out/*.zip'

  build-macos:
    needs: is-latest
    name: "Build for MacOS"
    runs-on: macos-15
    steps:
      - name: Setup Node
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 20
      - name: Delete unused SDKs
        # To free up disk space to not run out during the run
        run: |
          sudo rm -rf ~/.dotnet
          sudo rm -rf /Library/Android
          sudo rm -rf /Library/Developer/CoreSimulator
        continue-on-error: true
      - name: Checkout code
        uses: actions/checkout@v4.2.2
      - name: npm install, build and test
        run: |
          npm install
          node build --arch x64 --version ${{ needs.is-latest.outputs.nw }}
          node build --arch arm64 --version ${{ needs.is-latest.outputs.nw }}
      - name: Upload the artifacts
        uses: actions/upload-artifact@v4.6.2
        with:
          name: mac
          path: 'build/out/*.zip'

  build-linux:
    needs: is-latest
    name: "Build for Linux"
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 20
      - name: Checkout code
        uses: actions/checkout@v4.2.2
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: true

          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - name: npm install, build and test
        run: |
          npm install
          node build --arch x64 -v ${{ needs.is-latest.outputs.nw }}
          node build --arch ia32 -v ${{ needs.is-latest.outputs.nw }}
      - name: Upload the artifacts
        uses: actions/upload-artifact@v4.6.2
        with:
          name: linux
          path: 'build/out/*.zip'

  build-release:
    needs: [ build-win, build-macos, build-linux ]
    name: "Build Release"
    runs-on: "ubuntu-latest"
    steps:
      - name: Get NWJS version
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "NW=${{ github.event.inputs.version }}" >> $GITHUB_ENV
          else
            echo "NW=$(curl -s https://nwjs.io/versions.json | jq -r '.latest' | sed 's/v//')" >> $GITHUB_ENV
          fi

      - uses: actions/download-artifact@v4.3.0
        with:
          name: win
          path: release/win
      - uses: actions/download-artifact@v4.3.0
        with:
          name: linux
          path: release/linux
      - uses: actions/download-artifact@v4.3.0
        with:
          name: mac
          path: release/mac

      - name: Display structure of downloaded files
        run: ls -R
        working-directory: release/

      - name: Upload binaries to release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            release/mac/*.zip
            release/linux/*.zip
            release/win/nwjs-ffmpeg-prebuilt/nwjs-ffmpeg-prebuilt/build/out/*.zip
          tag_name: ${{ env.NW }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
